/**
* fonts
*/
$font-a-r: titilliumweb-r;
$font-a-sb: titilliumweb-sb;
$font-a-i: titilliumweb-i;

/**
*  varie
*/
$maxwidth-page: 1920px;
$maxwidth-container: 1180px;
$maxwidth-wrapper: 1660px;
$maxwidth-content-wrapper: 630px;
$radius-1: .25em;
$radius-2: .15em;