.cc_banner-wrapper
{
    z-index: 9001;
    position: relative;
}

.cc_container
{
    background: #F7F7F7;
    color: #000;
    font-size: 0.8em;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    border-top: 1px solid #4d4d4d;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
	/*overflow:hidden;*/
    box-sizing: border-box;
}

.cc_container .cc_message
{
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    transition: font-size 200ms;
}

.cc_container .cc_btn
{
    padding: 8px 10px;
    background-color: #22813D;
    text-align: center;
    width: 33%;
    margin-left: 10px;
    float: right;
    line-height: 1em;
    max-width: 120px;
    cursor: pointer;
    transition: font-size 200ms;
}

.cc_container .cc_btn,.cc_container .cc_btn:visited
{
    color: #fff !important;
    background-color: #22813D;
    transition: background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;
    border-radius: 3px;
}

.cc_container .cc_btn:hover,.cc_container .cc_btn:active
{
    background-color: #333;
    color: #fff;
}

.cc_container a,.cc_container a:visited
{
    text-decoration: none;
    color: #325D8A;
    transition: 200ms color;
}

.cc_container .cc_more_info
{
    font-weight: bold;
}

.cc_container a:hover,.cc_container a:active
{
    opacity:0.8
}

.cc_container .mobile-hide
{
	display: none;
}

@media screen and (min-width: 768px)
{
    .cc_banner-wrapper .cc_container
    {
        font-size: 1em;
    }

    .cc_container .cc_message
	{
		padding-bottom: 10px;
	}

	.cc_container .cc_btn
	{
		margin-right: 10px;
	}

	.cc_container .mobile-hide
	{
		display: inline;
	}
}

@media print
{
    .cc_banner-wrapper,.cc_container
    {
        display: none;
    };
}

@keyframes slideUp
{
    0%
    {
		-webkit-transform: translateY(66px);
        transform: translateY(90px);
    }

    100%
    {
		-webkit-transform: translateY(0);
        transform: translateY(0);
    };
}

.cc_container
{

    -webkit-animation-duration: 3.2s;
    animation-duration: .5s;
    animation-name: slideUp;
}

/* solo per la versione vanilla javascript */
/*
@keyframes slideDown
{

    0%
    {
		opacity: 1;
		transform: translateY(startYposition);
    }

    100% {
		opacity: 0;
		transform: translateY(endYposition);
    };
}

.slidedown
{
	animation-duration: 0.6s;
	animation-name: slideDown;
}

.slidedown.fadeout
{
    opacity: 0;
}
*/
/* solo per la versione vanilla javascript */

/* ie 8 */
div.cc_ie8
{
  font-size: 1.3em;
}