/**
*  palette colori
*/
$c_fg: #fff;
$c_bg: #000;
$c_01: #1c2024; /* tutti i testi e i titoli */
$c_02: #c4c4c4; /* ​bordo dei form e colore delle linee sottili */
$c_03: #5a6772; /* testo interno alle label​, scritta MIUR in tutte le pagine e ​sfondo nelle frecce degli step passati */
$c_04: #003f7f; /* sfondo bottoni profilo */
$c_05: #06C; 	/* blu per step e bottoni e link */
$c_06: #ff8c00; /* arancione per link */
$c_07: #5a6772; /* grigio scuro per hover sugli input text */
$c_08: #036; 	/* colore hover link */
$c_09: #a8a8a8; /* colore ombra */
$c_10: #00264D; /* colore blu scuro */
$c_11: #30373d; /* colore footer */
$c_12: #65dee0; /* ottanio */
$c_13: #dbdbd6; /* grigio bordo menu */
$c_14: #ff0000; /* rosso */
$c_15: #f5f5f0; /* grigio chiaro per menu */
$c_16: #e1e1d1; /* grigio chiaro riga menu */
$c_17: #a6a6a6; /* colore delle ombre - micio rompicazzo */
$c_18: #dbdbd6; /* sfondo menu header */
$c_19: #edf4f9; /* sfondo menu livello 3 */
$c_20: #d1e7ff; /* sfondo menu livello 4 */
$c_21: #8ebfed; /* sfondo menu livello 5 */
$c_22: #036;	/* blu scuro menu livello 4 e 5 */
$c_23: #eaeaea; /* sfondo titoli h2 */
