@charset "UTF-8";

/* default OS fonts */
html, body {
	font-family: Verdana, arial, sans-serif;
}

/* fonts now loaded */
.wf-active body {
	font-family: "titilliumweb-r";
}

/* titillium regular */
@font-face {
	font-family: "titilliumweb-r";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/titilliumweb-r.eot");
	src: url("../fonts/titilliumweb-r.eot%3F") format("embedded-opentype"),
		 url("../fonts/titilliumweb-r.woff") format("woff"),
		 url("../fonts/titilliumweb-r.ttf.html") format("truetype"),
		 url("../fonts/titilliumweb-r.svg") format("svg");
}

/* titillium semibold */
@font-face {
	font-family: "titilliumweb-sb";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/titilliumweb-sb.eot");
	src: url("../fonts/titilliumweb-sb.eot%3F") format("embedded-opentype"),
		 url("../fonts/titilliumweb-sb.woff") format("woff"),
		 url("../fonts/titilliumweb-sb.ttf.html") format("truetype"),
		 url("../fonts/titilliumweb-sb.svg") format("svg");
}

/* titillium italic */
@font-face {
	font-family: "titilliumweb-i";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/titilliumweb-i.eot");
	src: url("../fonts/titilliumweb-i.eot%3F") format("embedded-opentype"),
		 url("../fonts/titilliumweb-i.woff") format("woff"),
		 url("../fonts/titilliumweb-i.ttf.html") format("truetype"),
		 url("../fonts/titilliumweb-i.svg") format("svg");
}

/* miur icons */
@font-face {
	font-family: "miur-icons";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/miur-icons.eot");
	src: url("../fonts/miur-icons.eot%3F") format("embedded-opentype"),
		 url("../fonts/miur-icons.woff") format("woff"),
		 url("../fonts/miur-icons.ttf.html") format("truetype"),
		 url("../fonts/miur-icons.svg") format("svg");
}